## Problem Source

- Platform: LeetCode  
- Title: **2. Add Two Numbers**  
- Difficulty: Medium  
- Link: https://leetcode.com/problems/add-two-numbers/

> Note: The full problem statement is available at the link above.  
> This notebook contains my own solution and explanation.

In [3]:
import pandas as pd

class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next


def build_list(arr):
    head = ListNode(arr[0])
    curr = head
    for x in arr[1:]:
        curr.next = ListNode(x)
        curr = curr.next
    return head


def list_to_array(node):
    arr = []
    while node:
        arr.append(node.val)
        node = node.next
    return arr


class Solution:
    def addTwoNumbers(self, l1, l2):

        carry_in = 0
        head = ListNode(0)
        current_digit = head

        logs = []
        steps = 1

        while l1 or l2 or carry_in:

            value_l1 = l1.val if l1 else 0
            value_l2 = l2.val if l2 else 0

            sums = value_l1 + value_l2 + carry_in
            calculated_digit = sums % 10
            carry_out = sums // 10

            carry_in = carry_out

            current_digit.next = ListNode(calculated_digit)
            current_digit = current_digit.next

            logs.append(
                {
                    'step': steps,
                    'l1_val': value_l1,
                    'l2_val': value_l2,
                    'carry_in': carry_in,
                    'sum': sums,
                    'digit': calculated_digit,
                    'carry_out': carry_out,
                    'result_so_far': list_to_array(head.next)
                }
            )
            
            if l1: l1 = l1.next
            if l2: l2 = l2.next

            steps += 1

        df = pd.DataFrame(logs)

        print("Final Result (linked list):", list_to_array(head.next))

        return head.next, df

In [2]:
l1 = build_list([1,8,7])
l2 = build_list([3,5,7])

result, df = Solution().addTwoNumbers(l1, l2)

df

Final Result (linked list): [4, 3, 5, 1]

   step  l1_val  l2_val  carry_in  sum  digit  carry_out result_so_far
0     1       1       3         0    4      4          0           [4]
1     2       8       5         1   13      3          1        [4, 3]
2     3       7       7         1   15      5          1     [4, 3, 5]
3     4       0       0         0    1      1          0  [4, 3, 5, 1]